<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mercado Liebre</title>
    <link rel="stylesheet" href="./styles/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <header>
      <nav>
        <img src="./images/logo-mercado-liebre.svg" alt="Logo" />
        <div class="search">
          Barra de navegacion<i class="fas fa-search"></i>
        </div>
      </nav>
      <section class="hero">
        <h2>
          <i class="fas fa-hand-holding-usd"></i> Compra en cuotas y sin tarjeta
          de credito
        </h2>
        <ul >
          <li class="links"><a href="#Ofertas">Ofertas</a></li>
          <li class="links"><a href="#TiendasOf">Tiendas Oficiales</a></li>
          <li class="links"><a href="#Vender">Vender</a></li>
          <li class="links"><a href="#Ayuda">Ayuda</a></li>
        </ul>

        <ul>
          <li class="links">
            <a  href="#Register"><i class="far fa-id-card"></i>Crea tu cuenta</a>
          </li>
          <li class="links">
            <a href="#Login"><i class="fas fa-sign-in-alt"></i>Ingresa</a>
          </li>
          <li class="links">
            <a href="#Carrito"
              ><i class="fas fa-shopping-basket"></i>Mis Compras</a
            >
          </li>
        </ul>

        <div class="burger-menu">
          <i class="fas fa-bars"></i>
        </div>

        <img src="./images/img-home-banner.jpg" alt="banner" />
      </section>

    </header>

    <main>
      <section class="UltimaVista">
        <h2>Basado en tu ultima Vista</h2>
        <section class="UltimaVista__Producto__Cafetera">
          <img src="./images/img-cafetera-moulinex.jpg" alt="Cafetera" /><br />
          <p class="Precio">$6.770</p>
          <p class="Descuento">40% Off</p>
          <b class="Descripcion"> Cafetera Moulinex </b>
        </section>

        <section class="UltimaVista__Producto__MacBook">
          <img
            src="./images/img-macbook-pro-2019.jpg"
            alt="MacBook Pro 2019"
          /><br />
          <p class="Precio">$230.000</p>
          <p class="Descuento">20% Off</p>
          <b class="Descripcion">MacBook Pro 2019</b>
        </section>

        <section class="UltimaVista__Producto__Celular">
          <img
            src="./images/img-samsung-galaxy-s10.jpg"
            alt="Samsung Galaxy S10"
          /><br />
          <p class="Precio">$70.500</p>
          <p class="Descuento">10% Off</p>
          <b class="Descripcion"> Samsung Galaxy S10 </b>
        </section>

        <section class="UltimaVista__Producto__Television">
          <img src="./images/img-tv-samsung-smart.jpg" alt="Television" /><br />
          <p class="Precio">$23.200</p>
          <p class="Descuento">5% Off</p>
          <b class="Descripcion"> Tv Samsung Ssmart </b>
        </section>
      </section>

      <section class="Ofertas">
        <h2>Ofertas</h2>
        <section class="Ofertas__Producto__Cafetera">
          <img src="./images/img-cafetera-moulinex.jpg" alt="Cafetera" /><br />
          <p class="Precio">$6.770</p>
          <p class="Descuento">40% Off</p>
          <b class="Descripcion">Cafetera Moulinex</b>
        </section>

        <section class="Ofertas__Producto__MacBook">
          <img
            src="./images/img-macbook-pro-2019.jpg"
            alt="MacBook Pro 2019"
          /><br />
          <p class="Precio">$230.000</p>
          <p class="Descuento">20% Off</p>
          <b class="Descripcion">MacBook Pro 2019</b>
        </section>

        <section class="Ofertas__Producto__Celular">
          <img
            src="./images/img-samsung-galaxy-s10.jpg"
            alt="Samsung Galaxy S10"
          /><br />
          <p class="Precio">$70.500</p>
          <p class="Descuento">10% Off</p>
          <b class="Descripcion">Samsung Galaxy S10</b>
        </section>

        <section class="Ofertas__Producto__Television">
          <img src="./images/img-tv-samsung-smart.jpg" alt="Television" /><br />
          <p class="Precio">$23.200</p>
          <p class="Descuento">5% Off</p>
          <b class="Descripcion">Tv Samsung Ssmart</b>
        </section>
      </section>

      <footer>
        <article class="Footer1">
          <i class="fas fa-credit-card"></i>

          <h3>Paga con tarjeta o en efectivo</h3>
          <p>
            Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
            puntos de pago. ¡Y siempre es seguro!
            
          </p>
        </article>

        <article class="Footer1">
          <i class="fas fa-user-shield"></i>
          <h3>Envío gratis desde $ 2.500</h3>
          <p>
            Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en
            miles de productos. Es un beneficio de Mercado Puntos.
          </p>
        </article>

        <article class="Footer1">

          <i class="fas fa-gift"></i>
          <h3>Paga con tarjeta o en efectivo</h3>
          <p>
            ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no
            puedas hacer, porque estás siempre protegid@.
          </p>
        </article>

        <article class="copy">
          <h3>Copyright © 1999-2020 MercadoLiebre S.R.L.</h3>
        </article>
      </footer>
    </main>
  </body>
</html>
