* {
  font-family: Roboto;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* HEADER */

header {
  background-color: #eac926;
  position: sticky;
  top:0;
  width: 100%;
  z-index: 1;
}

/* nav 1 */
.nav1 {
  display: flex;
  padding: 10px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
}
.nav1-line1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.logo {
  width: 45%;
  margin: 3px;
}
.search {
  width: 45%;
  margin: 3px;
}

input {
  width: calc(100% - 19px);
  margin-right: 3px;
}

.nav-1-line2 {
  text-align: center;
  font-weight: 400;
  margin: 10px 0;
  align-self: center;
  font-size: 1.1rem;
}

.burger-menu {
  background-color: #0000ff;
  display: flex;
  justify-content: center;
  width: 40px;
  padding: 10px;
  font-size: 20px;
}

.fa-bars {
  color: #ffffff;
}

/* nav 2 */
.nav2,
.nav3 {
  margin: 6px;
}

.links {
  margin: 5px;
  list-style: none;
}
.links a {
  text-decoration: none;
  padding: 0;
  margin: 0 2px;
  color: #000000;
}
.links-conteiner {
  display: none;
}

/* BANER */

.hero img {
  width: 100vw;
}

/* MAIN */

img {
  display: inline-block;
  max-width: 100%;
}
.UltimaVista h2,
.Ofertas h2 {
  font-size: 24px;
  text-align: left;
  padding: 10px;
}

.UltimaVista__Producto:hover .Descripcion, .Ofertas__Producto:hover .Descripcion{
  display:initial;
  background-color: rgba(0, 0, 0,0.5);
  color: rgb(255, 255, 255);
  width: 100%;
  opacity: 0.9;
}

.logo2 * {
  align-self: right;
  position: absolute;
  right: 10px;
  top: -10px;
}



.Precio {
  font-size: 18px;
  margin-right: 4px;
}
.Descuentos,
.Descripcion {
  font-size: 16 px;
  width: 100%;
  margin-top: 10px;

}

.Descripcion{
opacity: 0;
transition: all 250ms;
position: absolute;
top: -169px;
right: 0px;
height: 40px;
text-align: center;
}

main > * > * {
  width: 90%;
  margin: auto;
}

.UltimaVista__Producto,
.Ofertas__Producto {
  margin-top: 15px;
  margin-bottom: 15px;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  box-shadow: none;
  transition: box-shadow 200ms;
}

.UltimaVista__Producto:hover,.Ofertas__Producto:hover{
  box-shadow: 0px 0px 10px rgb(56, 24, 24);
}

.Detalles {
  border-top: #ebebeb 1px solid;
  padding: 15px;
  position: relative;
  display: none;
}

.fa-truck {
  color: rgb(135, 202, 28);
  transition: transform 0.5s;
}

.fa-truck:hover{
  transform: rotate(270deg);
}


/* FOOTER */


.Footer1 p {
  font-size: 12px;
}

.propaganda{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
footer {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
footer i {
  width: 2em;
  height: 2em;
  color: #0000ff;
  margin-top: 12px;
}

.copy {
  margin-top: 12px;
}

/* MEDIA QUERIES */


@media (min-width: 361px) {
  .Detalles {
    display: inline-block;
  }

  .pd-conteiner {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: center;
    margin: 10px 0;
  }

  .Precio {
    max-width: 35%;
  }
  .Descuento {
    max-width: 70%;
    color: rgb(135, 202, 28);
    margin: 4px;
  }
  .hero {
    display: inline-block;
  }
}

@media (min-width: 767px) {
  .links-conteiner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
  }


  .logo {
    width: 30%;
    margin: 3px;
  }
  .search {
    width: 30%;
    margin: 3px;
  }

  .UltimaVista,
  .Ofertas {
    display: flex;
    flex-wrap: wrap;
  }

  .UltimaVista__Producto,
  .Ofertas__Producto {
    max-width: 40%;
  }

  .nav1-line1 {
    width: 100%;
    justify-content: space-between;
  }

  .nav2 *,
  .nav3 * {
    display: flex;
    flex-wrap: wrap;
    align-self: center;
  }
  .nav-1-line2 {
    width: 35%;
    text-align: right;
    font-size: 0.8em;
  }
  .burger-menu {
    display: none;
  }
}

@media (min-width: 1200px) {
  .links-conteiner,
  .nav1 {
    max-width: 1200px;
    margin: auto;
  }

  .propaganda{
    flex-wrap: nowrap;
  }
  .UltimaVista__Producto,
  .Ofertas__Producto {
    max-width: 20%;
  }

  .links {
    margin: 10px;
    list-style: none;
  }
  .links a {
    text-decoration: none;
    padding: 0;
    margin: 0 2px;
    color: #000000;
    font-size: 22px;
  }
  .nav-1-line2 {
    max-width: none;
    font-size: 1.3em;
  }
  .nav1-line1 {
    width: 100%;
    align-items: center;
    flex-wrap: initial;
  }
}

form{

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  background-color: #cac6c6;
}

form div{
  display: flex;
  justify-content: center;
  width: 80%;
  padding: 2px;
  margin: 10px 0;
}

.form-text {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
} 

.birthdate , .avatar{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  margin-bottom: 10px;
}
.avatar h4{
  margin-bottom: 0px;
}

.profile{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  margin-bottom: 10px;
  width: 80%;
}
.profile h4{
  width: 100%;
}

.profile div {
  justify-content: flex-start;
  flex-wrap: wrap;
  width: auto;
  margin-right: 5px;
  
}

.profile input, .profile label{
  width: auto;
}

.interest{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  margin-bottom: 10px;
}

.interest div{
  justify-content: flex-start;
}

.interest input{
  max-width: 30px ;
}


.form-text label {
  display: none;
}


.form-text input, .birthdate input, h4{
  width: 100%;
  border:none;
  border-radius: 4px;
  padding: 10px;
}

h4{
  margin-bottom: 10px ;
}

.password_login input, .login_name input{
justify-content: center;
width: 80%;
margin: 10px 0;
padding: 3px;
border:none;
border-radius: 5px;
}

.password_login{
  width: 80%;
  justify-content: center;
}

.login_name{
  width: 80%;
  justify-content: center;
  border:none;
  border-radius: 4px;
}

.login_form{
  background-color: #cecccc;
  margin-top: 163px;
}

.button, .button *{

  color: #ffffff;
  display: flex;
  flex-wrap: wrap;
  border: none;
  border-radius: 4px;
  width: 80%;
  justify-content: center;
  margin: 10px 0;
  align-self: center;
  margin-bottom: 5px;

}
button{
  padding: 2px;
  width: 80%;
  background-color: #6e6ef8;
  margin: 10px 0;
  transition: background-color 0.4s;

}

button:hover{
background-color: #0022AA;
}


.login_form div {
  max-width: 950px;

}

.password{
  display: flex;

}
  


