* {
  font-family: Roboto;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* HEADER */

header {
  background-color: #eac926;
}

/* nav 1 */
.nav1 {
  display: flex;
  padding: 10px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
}
.nav1-line1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.logo {

  width: 45%;
  margin: 3px;

}
.search {
  width: 45%;
  margin: 3px;
}

input{
  width: calc(100% - 19px);
  margin-right: 3px;
}

.nav-1-line2 {
  text-align: center;
  font-weight: 400;
  margin: 10px 0;
  align-self: center;
  font-size: 1.1rem;
}

.burger-menu {
  background-color: #0000ff;
  display: flex;
  justify-content: center;
  width: 40px;
  padding: 10px;
  font-size: 20px;
}

.fa-bars {
  color: #ffffff;
}

/* nav 2 */
.nav2,
.nav3 {
  margin: 6px;
}

.links {
  margin: 5px;
  list-style: none;
}
.links a {
  text-decoration: none;
  padding: 0;
  margin: 0 2px;
  color: #000000;
}
.links-conteiner {
  display: none;
}

/* BANER */



/* MAIN */
img {
  display: inline-block;
  max-width: 100%;
}
.UltimaVista h2,
.Ofertas h2 {
  font-size: 24px;
  text-align: left;
  padding:10px;

}

.logo2  {
  align-self: right;
  position: absolute;
  right: 10px;;
  top: -10px;

}


.Footer1 p {
  font-size: 12px;
}

.Precio {
  font-size: 18px;
  margin: 4px;
}

.Descuentos,
.Descripciones {
  font-size: 16 px;
  width: 100%;
}

footer {
  text-align: center;
}
footer i {
  width: 2em;
  height: 2em;
  color: #0000ff;
  margin-top: 12px;
}

.copy {
  margin-top: 12px;
}

main > * > *{
  width: 90%;
  margin: auto;
}

.UltimaVista__Producto, .Ofertas__Producto {
  margin-top: 15px;
  margin-bottom: 15px;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  box-shadow: 0px 0px 10px rgb(56, 24, 24);
}


.Detalles {
  border-top: #ebebeb 1px solid;
  padding: 15px;
  position: relative;
  display: none;
  
}



.hero img {

  width: 100vw;
}

.fa-truck {
  color: rgb(135, 202, 28);
}

@media (min-width: 361px) {

  .Detalles{
    display: inline-block;
  }


   .pd-conteiner {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: center;

  } 

   .Precio{
    max-width: 35%;
  } 
  .Descuento{
    max-width: 70%;
    color: rgb(135, 202, 28);
    margin: 4px;
  }
  .hero {
    display: inline-block;
  }
}

@media (min-width: 767px) {
  .links-conteiner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
  }
  .logo {
    width: 30%;
    margin: 3px;

  }
  .search {
    width: 30%;
    margin: 3px;
  }

  .UltimaVista,.Ofertas{
    display: flex;
    flex-wrap: wrap;
  }

  .UltimaVista__Producto,.Ofertas__Producto 
{
  max-width: 40%;
}

.nav1-line1{
  width: 100%;
  justify-content: space-between;
}


  .nav2 *,
  .nav3 * {
    display: flex;
    flex-wrap: wrap;
    align-self: center
  }
  .nav-1-line2 {
    width: 35%;
    text-align: right;
    font-size: 0.8em;
  }
  .burger-menu {
    display: none;
  }
}

@media (min-width: 1200px) {
  .links-conteiner,
  .nav1 {
    max-width: 1200px;
    margin: auto;

  }

  .UltimaVista__Producto,.Ofertas__Producto 
{
  max-width: 20%;
}

  .links {
    margin: 10px;
    list-style: none;
  }
  .links a {
    text-decoration: none;
    padding: 0;
    margin: 0 2px;
    color: #000000;
    font-size: 22px;
  }
  .nav-1-line2 {
    max-width: none;
    font-size: 1.3em;
  }
  .nav1-line1 {
    width: 100%;
    align-items: center;
    flex-wrap: initial;
  }
}
